src/XML/course.dtd

<!ELEMENT courses (course+)>
<!ELEMENT course (courseName,courseId,courseShift,semesters)>
<!ELEMENT courseName (#PCDATA)>
<!ELEMENT courseId (#PCDATA)>
<!ELEMENT courseShift (#PCDATA)>
<!ELEMENT semesters (semester+)>
<!ELEMENT semester (disciplineId*)>
<!ELEMENT disciplineId (#PCDATA)>
<!ATTLIST semester period CDATA #REQUIRED>